body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

#grid {
  line-height: 0;
  margin: 10px auto; }
  #grid td {
    position: relative;
    height: 30px;
    width: 30px; }
    #grid td div {
      position: absolute;
      top: 1px;
      right: 1px;
      bottom: 1px;
      left: 1px; }
      #grid td div.pink span {
        background: #E50666; }
      #grid td div.purple span {
        background: #A100CD; }
      #grid td div.blue span {
        background: #04B4B7; }
      #grid td div.green span {
        background: #59D37A; }
      #grid td div.yellow span {
        background: #F2D208; }
    #grid td span {
      position: absolute;
      height: 15px;
      width: 15px;
      transition: background-color 0.3s ease;
      transform: rotateZ(360deg); }
      #grid td span:nth-child(1) {
        top: 0;
        left: 0; }
      #grid td span:nth-child(2) {
        top: 0;
        right: 0; }
      #grid td span:nth-child(3) {
        bottom: 0;
        left: 0; }
      #grid td span:nth-child(4) {
        bottom: 0;
        right: 0; }

@keyframes feedback {
  from, to {
    transform: translate3d(0, 0, 0); }
  10%, 50%, 90% {
    transform: translate3d(-2px, 0, 0); }
  30%, 70% {
    transform: translate3d(2px, 0, 0); } }

.feedback {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-name: feedback; }

@keyframes pop {
  0%, 10%, 100% {
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px; }
  65% {
    top: -3px;
    right: -3px;
    bottom: -3px;
    left: -3px; } }

@keyframes popSpan {
  0%, 30% {
    transform: rotate(0); }
  100% {
    transform: rotate(90deg); } }

@keyframes popSpanInverse {
  0%, 20% {
    transform: rotate(0); }
  100% {
    transform: rotate(-90deg); } }

.pop div {
  animation: pop 0.3s 1 ease-in-out both; }
  .pop div span {
    animation: popSpan 0.3s 1 ease-in-out both; }
